body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.sidebar {
  width: 240px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 10px 0;
  height: 100vh;
}

.logo {
  padding: 0 16px;
  margin-bottom: 10px;
}

.logo img {
  width: 100px;
}

.menu {
  margin-bottom: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menu li span {
  margin-right: 12px;
}

.menu li:hover {
  background-color: #f2f2f2;
}

.selected {
  background-color: #e6e6e6;
  font-weight: bold;
  border-radius: 10px;
}

h3 {
  font-size: 14px;
  color: #606060;
  padding: 0 20px;
  margin-bottom: 10px;
}
